<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
	  <class name="com.CRM.regression.test.ReadTitleTest"/>
	  <class name="com.CRM.regression.test.HeaderImageTest"/>
	  <class name="com.CRM.regression.test.GetCopyrightTest"/>
	  <class name="com.CRM.regression.test.LogInTest"/>
      <class name="com.CRM.regression.test.NaviColorTest"/>
      <class name="com.CRM.regression.test.MenuCheckTest"/>
      <class name="com.CRM.regression.test.ReadLeadInfoTest"/>
      <class name="com.CRM.regression.test.PrintTableTest"/>
      <class name="com.CRM.regression.test.PrintNamesTest"/>
      <class name="com.CRM.utility.BaseClass"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
